html
  head
    title wormholio
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic,300italic,400italic,700,900,900italic,700italic', rel='stylesheet')
    link(href='/public/reset.css', rel='stylesheet')
    link(href='/public/wormholio.css', rel='stylesheet')

  body
    canvas(id='wormhole')
    #drop
    .container
      h1 <em>http://</em>wormhol.io<em>/</em><strong></strong>
      form(action='')
        input#me(type='text', autocomplete='off', maxlength='8', size='8', disabled='disabled')
        button#connect(disabled='disabled') open
        input#them(type='text', autocomplete='off', maxlength='8', size='8', disabled='disabled', value=code)
      #messages loading...
    #todo
      h2 explanation
      p wormholio is a simple but soon-to-be-beautiful single-page web app to blast files between web browsers
      ul
        li open wormholio in one browser, then open it in another browser window, another browser, or even another computer
        li input one browser's code (on the left) into the other browser's input box (on the right) and press "open"
        li drag files into one wormholio window and watch as it shoots out the other, magically
      h2 warnings
      ul
        li please don't try and break my website just yet. it's still very early and I haven't put protections in place yet
        li large files will totally break everything. don't do it
        li trying to send multiple files at once will probably break things, too. eventually I'll add support for this (it'll zip them on the receiving end)
        li there's hella exploits to leave your files on the server forever right now. please don't abuse them
      h2 todo
      ul
        li <s>move HTML to Jade (or pug, as it's apparently called now?????)</s>
        li move CSS to Sass
        li check file size on client
        li check file size on server
        li auto-delete files after a couple minutes of not being used
        li load a thumbnail of the file in before uploading (image data if image, otherwise generic icon (with extension?))
        li <s>make cool wormhole animation thing</s>
        li make files swirl into the middle of the wormhole when dropped
        li better CSS/animations/layout
        li allow multiple files at once (zip on server-side?)
        li demonstrate that you can't drop the file when you're not connected
        li track files per user and trash them if the user (or his connectedTo) disconnects  
        li <s>make wormhol.io/abcd123 URLs link directly to portal openings</s>
        li things will be more beautiful
        li make the drag-and-drop div change its z-index to cover everything when you're dragging or some shit, so you can drop your files on text or whatever and it's cool
        li visual indication that files are "on the way" to you
        li other cool effects
        li layouts that work at different browser window sizes
    iframe#downloader
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='/public/tinycolor.js')
    script(src='/public/easing.js')
    script(src='/public/wormholio.js')
